services:
  db:
    image: postgres:18-alpine
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./postgres-init-scripts:/docker-entrypoint-initdb.d
  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8533:8080"

  backend:
    image: pacable/musicclub-backend:latest
    ports:
      - "6969:6969"
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db

  frontend:
    image: pacable/musicclub-frontend:latest
    ports:
      - "5173:5173"
    env_file:
      - .env

  bot:
    image: pacable/musicclub-bot:latest
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db

volumes:
  db_data:
